[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
django-countries = "*"
pillow = "*"
psycopg = { extras = ["binary"], version = "*" }
dj-database-url = "*"
redis = "*"
gunicorn = "*"
django-environ = "*"
django-storages = "*"
boto3 = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
flower = "*"

[dev-packages]
factory-boy = "*"
coverage = "*"
freezegun = "*"

[requires]
python_version = "3.11"
